body {
    margin: 0;
}
#map{
    width: 100vw;
    height: 100vh;
}
#name{
    font-size: 100;
    position: absolute;
    top: 10;
    left:10;
    z-index: 3;
    background-color: bisque;
    padding: 10px;
}
